$color-day: #2080df;
$color-day--secondary: #1259a1;
$color-day--dark: #1773cf;

$color-night: #0d0d26;
$color-night--secondary: #121254;
$color-night--light: #3d3d8f;

$card-color--transparent: #3382;